<section class="request-proposal">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="border-box">
                    <div class="top-heading text-center"><h2 class="section-heading">Get a Proposal</h2></div>
                    <p class="subheading text-center">Are you ready to build a conversion engine? Then we should talk. Fill out the form to request a proposal, and we'll be in touch.</p>
                    <button class="btn btn-default btn-xl" data-toggle="modal" data-target="#proposal">Request My Proposal</button>
                </div>
            </div>
        </div>
    </div>
</section>