<section class="request-proposal">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="border-box">
                    <div class="top-heading text-center"><h2 class="section-heading">Ready to Grow?</h2></div>
                    <p class="subheading text-center">We only have room to bring on one or two new clients each month. Fill out the form below to find out if we can build a conversion engine to help your business grow.</p>
                    <button class="btn btn-default btn-xl" data-toggle="modal" data-target="#proposal">Request My Proposal</button>
                </div>
            </div>
        </div>
    </div>
</section>